# .env.example

# Google Gemini API Key
GEMINI_API_KEY=

# Supabase Credentials
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Siigo Credentials
VITE_SIIGO_API_URL=
VITE_SIIGO_USERNAME=
VITE_SIIGO_ACCESS_KEY=

